@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

@import "tailwindcss";

body {
  font-family: "Jura", sans-serif;
  overflow-x: hidden;

}
/* index.css */
.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
